body {
    background-color: whitesmoke;
}

.navbar-toggler {
    margin: 20px 0;
}

#portfolio {
    margin-top: 80px;
    color: #1d1f20;
}

.portfolio-section {
    margin: 15vh 0;
}

/* Return to top button */
#return-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 14px;
    padding: 8px;
}

#portfolio-intro-summary {
    font-size: 14px;
}


/* Portfolio section styling */
.portfolio-section-header {
}

/* Prevent Navigation bar overlap of anchors */
.anchor::before {
    display: block;
    content: " ";
    margin-top: -90px;
    height: 95px;
    visibility: hidden;
    pointer-events: none;
}

.card {
    background-color: transparent;
}

p span {
    font-size: 14px;
}

/* About */
.latest-technologies {
    display: flex;
    justify-content: space-evenly;
}

.latest-technologies ul {
    font-size: 16px;
}

.latest-technologies li:nth-child(even) {
    background-color: #ddd;
}

/* Experience */
.job-name {
    font-size: .8rem;
}
@media only screen and (min-width: 500px) {
    /* Keep Nav buttons close together so Tab Content does not change spacing. */
    #row-experience {
        height: 3rem;
    }
}

/* Contact */
#contact-footer {
    display: flex;
    justify-content: center;
}

#contact-footer ul {
    display: flex;
}

#contact-footer ul li {
    margin: 20px 25px;
    font-size: 14px;
}

.contact-footer-item, .contact-footer-item:active,
.contact-footer-item:focus, .contact-footer-item:hover {
    color: #333;
}