#resume-container {
    display: grid;
}

#resume {
    padding: .50in;
}

#pdf-page {
    background-color: white;
    max-width: 612px;
    min-height: 792px;
    margin-bottom: 20px
}

Button {
    margin: 20px auto;
}

ul {
    padding: 0;
    list-style: none;
}

ul, p {
    font-size: 10px;
}

h1, h2, h3, h4, h4, h6 {
    font-weight: bold;
}

#resume-name {
    color: dodgerblue;
}

#resume-position {
    font-size: 1.25rem;
}

.resume-header {
    color: dodgerblue;
    font-size: 1.15rem;
}

h4 {
    margin: 0;
}

h4, h5 {
    font-size: 10px;
}

.pdfCanvas {
    min-height: 792px;
    max-width: 612px;
    padding: 0;
    font-family: 'EB Garamond', serif, sans-serif;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Contact Information */
#contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 20px;
}

.employment-info *, .additional-info * {
    font-size: .7rem;
}

.angle-right-arrows {
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 450px) {
    #contact-info {
        display: block;
    }

    #additional-info {
        margin: 0 -15px;
    }
}