@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600&display=swap');

body {
    margin: 0;
    font-family: 'EB Garamond', serif, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#navi {
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#brand {
    padding: 10px;
    font-size: 32px;
}